:root {
  --primary-color: rgb(100, 100, 100);
  --secondary-color: rgb(122, 122, 122);
  --default-shadow: 5px 5px 20px 0 rgba(49, 81, 82, 0.5);
  --font-family: Arial, Helvetica, sans-serif;
}

body {
  font-family: var(--font-family);
}

.container {
  max-width: 1400px;
}

.cards-container {
  padding: 1em;
}

.card {
  display: inline-block;
  margin: 1em 0.5em;
  overflow: hidden;
  border-radius: 1em;
  box-shadow: var(--default-shadow);

  & .card__preview {
    object-fit: cover;
    width: 17vw;
    height: 15vh;
  }

  & .card__title {
    color: var(--primary-color);
  }

  & .card__description {
    max-inline-size: 10lh;
    color: var(--secondary-color);
  }
}
